

.wrapper{
    background-color: #ffe5ba;
    width: 50%;
    height: 80vh;
    margin: 0 auto; 
    border-radius: 5px;
    text-align: center;
    
}
.heading{
    color: #ffff;
}
  .input-field{
    height: 30px;
    width: 250px;
    
}  
.input-field::placeholder{
    font-size: 20px;
}
.btn{
    background-color: #0096ff;
    margin-left: 3px;
    height: 30px;
    width: 50px;
    border: none;
    color: #ffff;
    font-size: 16px;
}

ul{
    list-style-type: none;
}
.item-list{
    width: 250px; 
    height: 50px;
    background-color: #b2beb5;
    margin: 0 auto;
    color: #ffff;
    
    
    
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    padding: 12px;
}
.item-icon{
  color:  #0096ff;
}